body{
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.login-box{
    width:300px;
    background:white;
    padding:20px;
    margin:120px auto;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input{
    width:90%;
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.card{
    background:white;
    width:300px;
    margin:10px auto;
    padding:15px;
    border-radius:8px;
}
